/**VAR************************************************************/
:root{
    --side:10;
}
/**RESET************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**LAYOUT***********************************************************/
.container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/**APP**************************************************************/
.wrapper{
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;

}

.cell {
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    width: calc(100% / var(--side));
    display: flex;
    justify-content: center;
    align-items: center;

}
.cell.clicked{
    background-color: blue;
}